.header {
	display: flex;
	justify-content: space-between;
	top: 0;
	background-color: #ffffff;
	align-items: center;
	padding: 10px;
	position: sticky;
	z-index: 10;
	widows: 100%;
}
.header_left {
	flex: 0.3;
}
.header_left .logo {
	object-fit: contain;
	width: 150px;
	margin-left: 20px;
}
.header_center {
	flex: 0.4;
	align-items: center;
	max-width: fit-content;
	padding: 10px;
	height: 30px;
	border-radius: 999px;
	;
	border: 1px solid #383232;
}
.header_center > input {
	border: none;
	padding: 10px;
	outline-width: 0;
}
.header_center > .searchicon {
	cursor: pointer;
}
.header_right {
	flex: 0.3;
	align-items: center;
}
.header_right h4 {
	color: #383737 !important;
	font-weight: 900;
	font-family: Georgia, "Times New Roman", Times, serif;
	cursor: pointer;
	transition: transform 100ms ease-in;
}
.header_right h4:hover {
	transform: scale(1.03);
	color: #4286f4 !important;
}
@media screen and (max-width: 947px) {
	.header {
		flex-direction: column;
	}
	.header_right {
		display: none;
	}
}